// Colors
// $clr-primary-1: hsl(26, 100%, 55%);
$clr-primary-1: rgb(244, 137, 54);
$clr-primary-2: hsl(25, 100%, 94%);
$clr-secondary-1: hsl(220, 13%, 13%);
$clr-secondary-2: hsl(219, 9%, 45%);
$clr-secondary-3: hsl(220, 14%, 75%);
$clr-secondary-4: hsl(223, 64%, 98%);
$clr-white: hsl(0, 0%, 100%);
$clr-black: hsla(0, 0%, 0%, 0.75);

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 1200px;
